In [1]:
import pandas as pd
import numpy as np

dados=pd.read_csv('Dados - Final - Final.csv',decimal=',')
dados.head()

,Distrito,IDH,Posição - IDH,menor de 1 ano,1 ano,2 anos,3 anos,4 anos,5 anos,6 anos,...,90 a 94 anos,95 a 99 anos,100 anos e +,Total - População,Escolas Fundamental,Escolas Médio,Escolas Totais,Idade Escola,Idade Fundamental,Idade Ensino médio
0,agua rasa,0.890,32,882,786,695,818,784,792,814,...,305,87,15,84963,22,9,31,11030,8007,3023
1,alto de pinheiros,0.972,5,373,355,372,339,329,332,359,...,265,81,14,43117,3,1,4,4794,3491,1303
2,anhanguera,0.774,82,994,966,995,1082,1048,1118,1092,...,42,11,4,65859,6,2,8,14629,10965,3664
3,aricanduva,0.886,34,990,1007,937,1022,1112,1102,1101,...,171,42,9,89622,26,12,38,14680,10926,3754
4,artur alvim,0.833,58,1234,1209,1239,1256,1227,1274,1277,...,137,32,9,105269,18,4,22,17250,12775,4475

In [2]:
from bokeh.models import ColumnDataSource, LabelSet
from bokeh.plotting import figure, show, output_file
from bokeh.sampledata.periodic_table import elements

palette = ["#053061", "#2166ac", "#4393c3", "#92c5de", "#d1e5f0",
           "#f7f7f7", "#fddbc7", "#f4a582", "#d6604d", "#b2182b", "#67001f"]

x_1= "Idade Escola"
y_1="Escolas Totais"
z_1="IDH"

idade_escola = dados[z_1]
low = min(idade_escola)
high = max(idade_escola)
idade_escola_inds = [int(10*(x-low)/(high-low)) for x in idade_escola] #gives items in colors a value from 0-10
dados['colors'] = [palette [::-1][i] for i in idade_escola_inds]


TITLE = "IDH x Número de Escolas Públicas - Distritos São Paulo"
p = figure(plot_width=1200, title=TITLE)
p.xaxis.axis_label = "IDH"
p.yaxis.axis_label = "Escolas Totais"


source = ColumnDataSource(dados)

p.circle(x_1, y_1, size=12, source=source,
         color='colors', line_color="black", fill_alpha=0.8)


labels = LabelSet(x=x_1, y=y_1, text="Distrito", y_offset=8,
                  text_font_size="8pt", text_color="#555555",
                  source=source, text_align='center')

p.add_layout(labels)


show(p)

In [3]:


palette = ["#053061", "#2166ac", "#4393c3", "#92c5de", "#d1e5f0",
           "#f7f7f7", "#fddbc7", "#f4a582", "#d6604d", "#b2182b", "#67001f"]

x_1= "Idade Fundamental"
y_1="Escolas Fundamental"
z_1="IDH"

idade_escola = dados[z_1]
low = min(idade_escola)
high = max(idade_escola)
idade_escola_inds = [int(10*(x-low)/(high-low)) for x in idade_escola] #gives items in colors a value from 0-10
dados['colors'] = [palette [::-1][i] for i in idade_escola_inds]


TITLE = "IDH x Número de Escolas Públicas - Distritos São Paulo"
p = figure(plot_width=1200, title=TITLE)
p.xaxis.axis_label = "IDH"
p.yaxis.axis_label = "Escolas Totais"


source = ColumnDataSource(dados)

p.circle(x_1, y_1, size=12, source=source,
         color='colors', line_color="black", fill_alpha=0.8)


labels = LabelSet(x=x_1, y=y_1, text="Distrito", y_offset=8,
                  text_font_size="8pt", text_color="#555555",
                  source=source, text_align='center')

p.add_layout(labels)


show(p)

In [4]:


palette = ["#053061", "#2166ac", "#4393c3", "#92c5de", "#d1e5f0",
           "#f7f7f7", "#fddbc7", "#f4a582", "#d6604d", "#b2182b", "#67001f"]

x_1= "Idade Ensino médio"
y_1="Escolas Médio"
z_1="IDH"

idade_escola = dados[z_1]
low = min(idade_escola)
high = max(idade_escola)
idade_escola_inds = [int(10*(x-low)/(high-low)) for x in idade_escola] #gives items in colors a value from 0-10
dados['colors'] = [palette [::-1][i] for i in idade_escola_inds]


TITLE = "IDH x Número de Escolas Públicas - Distritos São Paulo"
p = figure(plot_width=1200, title=TITLE)
p.xaxis.axis_label = "IDH"
p.yaxis.axis_label = "Escolas Totais"


source = ColumnDataSource(dados)

p.circle(x_1, y_1, size=12, source=source,
         color='colors', line_color="black", fill_alpha=0.8)


labels = LabelSet(x=x_1, y=y_1, text="Distrito", y_offset=8,
                  text_font_size="8pt", text_color="#555555",
                  source=source, text_align='center')

p.add_layout(labels)


show(p)